POSTGRES_USER=chronos
POSTGRES_PASSWORD=chronos
POSTGRES_DB=chronos
DATABASE_URL=postgresql+psycopg://chronos:chronos@db:5432/chronos

SIA_CATALOGO_URL=https://sia.unal.edu.co/Catalogo/facespublico/public/servicioPublico.jsf?taskflowId=task-flow-AC_CatalogoAsignaturas
